@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-custom-purple {
  background: linear-gradient(to right, #4A206E, #7640A7);
}

@layer utilities {
  .text-glass {
    background: rgba(255, 255, 255, 0.1);
    /* Light translucent background */
    backdrop-filter: blur(5px);
    /* Blur effect */
    color: transparent;
    /* Make the text transparent */
    background-clip: text;
    /* Clip the background to the text */
    -webkit-background-clip: text;
    /* Clip for Safari */
  }
}